@using B_Rov_Am.Models;
@using BRovAm.data;
@model IndexViewModel

<div class="row" style="margin:30px">
    <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-primary btn-block" id="add-product">Add Product</button>
    </div>
</div>
<table class="table table-bordered table-striped table-bordered">
    <tr>
        <th>Style No.</th>
        <th>Brand</th>
        <th>Description</th>
        <th>Colors</th>
        <th>Sizes</th>
        <th>Price</th>
        <th>Actions</th>
        <th></th>
    </tr>
    @foreach (ProductModel pm in Model.AllProducts)
    {
        <tr data-product-id="@pm.Product.ProductId">
            <td>@pm.Product.StyleNumber</td>
            <td>@pm.Product.Brand</td>
            <td>@pm.Product.Description</td>
            <td>
                @foreach (Color c in pm.Colors)
                {
                    @c.ProductColor <span>,</span>
                }
            </td>
            <td>
                @foreach (Size s in pm.Sizes)
                {
                    @s.ProductSize  <span>,</span>
                }
            </td>
            <td>@pm.Product.Price.ToString("C")</td>
            <td>
                <div class="row" >
                    
                    <div class="col-md-1" style="margin-left:-5px">
                        <button class="btn btn-sm btn-warning edit">Edit</button>
                    </div>
                    <div class="col-md-1 col-md-offset-1">
                        <a href="/Home/GetDetails?id=@pm.Product.ProductId" class="btn btn-sm btn-info details">Details</a>
                    </div>
                    <div class="col-md-1 col-md-offset-2">
                        <form action="/Home/DeleteProduct" method="POST" id="delete-form">
                            <input type="hidden" name="id" value="@pm.Product.ProductId"/>
                            <button class="btn btn-sm btn-danger delete">Delete</button>
                        </form>
                    </div>
                </div>
            </td>
            <td>
                <button class="btn btn-default  listen" value='🔊 Play'>🔊</button>
            </td>
        </tr>

    }
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="add-product-modal">
    <div class="modal-dialog">
        <form method="POST" action="/Home/AddProduct">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="style-number">Style No.</label>
                        <input type="text" class="form-control" name="styleNumber" id="style-number" placeholder="Style No.">
                    </div>
                    <div class="form-group">
                        <label for="brand">Brand</label>
                        <input type="text" class="form-control" name="brand" id="brand" placeholder="Brand">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" name="description" id="description" placeholder="Description">
                    </div>                   
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" name="price" id="price" placeholder="Price">
                    </div> 
                    <input type="hidden" id="product-id" value="" name="ProductId"/>                  
                    <div class="form-inline row">
                        <div class="form-group col-md-4">
                            <label for="category">Category</label>
                            <select id="category" name="categoryId">
                                @foreach (Category c in Model.AllCategories)
                                {
                                    <option value="@c.CategoryId" data-category-id="@c.CategoryId">@c.CategoryName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="submit-add">Add Product</button>
                    <button class="btn btn-primary" id="submit-edit" formaction="/Home/EditProduct">Edit Product</button>
                    
                </div>

            </div>
        </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="all-details" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
@section scripts{
    <script src="~/Scripts/Index.js"></script>
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
}
